
$HOSTNAME = "default"
params.DOWNDIR = (params.DOWNDIR) ? params.DOWNDIR : ""

process {
    errorStrategy = 'retry'
    maxRetries    = 3
}

_species = ""
_build = ""
_share = ""
_annotation = ""
_genome_igv = ""
_gtf_igv = ""
_bed_igv = ""

//* autofill
if (params.genome_build == "human_hg38_gencode_v27"){
    _species = "human"
    _build = "hg38"
    _annotation = "gencode_v27"
    params.gtf_type='gencode'
    _genome_igv = 'genomes/human.GRCh38.primary_assembly.genome_all.fa'
    _gtf_igv = 'annotations/human.gencode.v27.primary_assembly.annotation_all_sorted.gtf'
    _bed_igv = 'annotations/human.gencode.v27.primary_assembly.annotation_all_genes.bed'
} else if (params.genome_build == "mouse_mm10_gencode_m16"){
    _species = "mouse"
    _build = "mm10"
    _annotation = "gencode_m16"
    params.gtf_type='gencode'
    _genome_igv = 'genomes/mouse.GRCm38.primary_assembly.genome_all.fa'
    _gtf_igv = 'annotations/mouse.gencode.vM16.primary_assembly.annotation_all_sorted.gtf'
    _bed_igv = 'annotations/mouse.gencode.vM16.primary_assembly.annotation_all_genes.bed'
} else if (params.genome_build == "rat_rn6_ensembl_6_0_90"){
    _species = "rat"
    _build = "rn6"
    _annotation = "ensembl_6_0_90"
    params.gtf_type='ensembl'
    _genome_igv = 'genomes/rat.Rattus_norvegicus.Rnor_6.0.dna.toplevel_all.fa'
    _gtf_igv = 'annotations/rat.Rattus_norvegicus.Rnor_6.0.90_all_sorted.gtf'
    _bed_igv = 'annotations/rat.Rattus_norvegicus.Rnor_6.0.90_all_genes.bed'
} else if (params.genome_build == "rhesus_monkey_mmul10_ncbi_v103"){
    _species = "rhesus_monkey"
    _build = "mmul10"
    _annotation = "ncbi_v103"
    _genome_igv = 'genomes/rhemac.GCF_003339765.1_Mmul_10_genomic_all.fa'
    _gtf_igv = 'annotations/rhemac.GCF_003339765.1_Mmul_10_genomic_all_sorted.gtf'
    _bed_igv = 'annotations/rhemac.GCF_003339765.1_Mmul_10_genomic_all_genes.bed'
} else if (params.genome_build == "cynomolgus_monkey_macaca_fascicularis_6_0_ncbi_2020_08"){
    _species = "cynomolgus_monkey"
    _build = "macaca_fascicularis_6_0"
    _annotation = "ncbi_2020_08"
    _genome_igv = "genomes/cyno.macaca_fascicularis.ncbi_2020_08_all.fa"
    _gtf_igv = "annotations/cyno.macaca_fascicularis.ncbi_2020_08_all_sorted.gtf"
    _bed_igv = "annotations/cyno.macaca_fascicularis.ncbi_2020_08_all_genes.bed"
} else if (params.genome_build == "custom"){
    params.genome       = "NA"
    params.genome_sizes = "NA"
    params.genome_index = "NA"
    params.bed          = "NA"
    params.gtf          = "NA"
    params.gtf_index    = "NA"
    params.commondb     = "NA"
    params.genome_igv = 'NA'
    params.gtf_igv = 'NA'
    params.bed_igv = 'NA' 
    params.commondb_source = 'NA'

    params.bowtie_index    = "NA"
    params.bowtie2_index   = "NA"
    params.star_index      = "NA"

} 


if ($HOSTNAME == "default"){
    _share = "${params.DOWNDIR}/genome_data"
    _igvref = "${params.DOWNDIR}/references_tailed"
    $SINGULARITY_IMAGE = "705893696663.dkr.ecr.us-east-1.amazonaws.com/endseq:1.0"
    $DOCKER_IMAGE = "705893696663.dkr.ecr.us-east-1.amazonaws.com/endseq:1.0"
    $DEFAULT_IMAGE = "singularity"
}
//* platform
//* platform
if (params.genome_build && $HOSTNAME){
    params.transcriptome = "NA"
    params.genome_source   = "${_share}/${_species}/${_build}/main/genome.fa"
    params.gtf_source      = "${_share}/${_species}/${_build}/${_annotation}/genes/genes.gtf"
    params.commondb_source = "${_share}/${_species}/${_build}/commondb/"

    params.genome       = "${_share}/${_species}/${_build}/main/genome.fa"
    params.genome_index = "${_share}/${_species}/${_build}/main/genome.fa.fai"
    params.genome_sizes = "${_share}/${_species}/${_build}/main/genome.chrom.sizes"
    params.bed          = "${_share}/${_species}/${_build}/${_annotation}/genes/genes.bed"
    params.gtf          = "${_share}/${_species}/${_build}/${_annotation}/genes/genes.gtf"
    params.gtf_index    = "${_share}/${_species}/${_build}/${_annotation}/genes/genes.gtf.idx"
    params.commondb     = "${_share}/${_species}/${_build}/commondb/"
    
    params.bowtie_index    = "${_share}/${_species}/${_build}/BowtieIndex"
    params.bowtie2_index   = "${_share}/${_species}/${_build}/Bowtie2Index"
    params.star_index      = "${_share}/${_species}/${_build}/${_annotation}/STARIndex"
    
    params.genome_igv = "${_igvref}/${_genome_igv}"
    params.gtf_igv = "${_igvref}/${_gtf_igv}"
    params.bed_igv = "${_igvref}/${_bed_igv}"
    
   
}
if ($HOSTNAME){
    params.pdfbox_path = "/usr/local/bin/dolphin-tools/pdfbox-app-2.0.0-RC2.jar"
    params.gtf2bed_path = "/usr/local/bin/dolphin-tools/gtf2bed"
    params.senseantisense = "/usr/local/bin/dolphin-tools/senseantisense.pl"
    params.shared_s3_path = "s3://s3-informatics/shared-data/" 
    params.shared_web_url = "https://s3.modernatx.net/" 
    params.mate = "single"
}
//* autofill

// paramters added by Scott Kallgren
params.ADAPTERS_vONE = ["GGGCAGTCGGTGCG", "GTGAT"]
params.SPIKES_vONE = ['ATTCATTTTATACTTCGCACTTAAATAATAAGCCATCTACACATTTTATTCAATTCAATG']
// note spikes are currently not used, but there is interest in the future in them. If using, pass this parameter in to sorting_hat, uncomment spike sections, and consider downstream
